@charset "UTF-8";

.flash_message {
    position: absolute;
    top: 150px;
    /* left: 550px; */
    right: 0;
    font-size: 20px;
    display: inline;
    padding: 10px 20px;
    background-color: aqua;
    opacity: 0.7;
}

.attention {
    background-color: #FF3366;
}
